body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #0f1b27;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }  
}

#app {
  padding: 2rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #0f1b27;
  min-height: 100vh;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: .5px;
  box-sizing: border-box;
}

.search {
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 5px;
  width: calc(100% + 1.6rem);
  margin: 0 -.8rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.search__input {
  padding: 3rem .8rem 1.8rem;
  width: 100%;
  font-size: 2rem;  
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color:#fff;
  border: none;
  box-sizing: border-box;
  transition: all .2s;
  height: 60px;
  
  @media screen and (max-width: 500px) {
    & {
      padding: 2rem .8rem .8rem;
    }
  }
  
}

.search__placeholder {
  pointer-events: none;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1rem;
  padding: 2rem .8rem 1.8rem;
  transform: translate(0,0);
  font-size: 1rem;
  transition: transform .2s ease, font-size .2s ease;
  transform-origin: left center;
  white-space: nowrap;
  
  @media screen and (max-width: 500px) {
    & {
      padding: 1.35rem .8rem .8rem;
    }
  }
  
}


@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search__input_not-empty {
  letter-spacing: 2px;
}

@media screen and (max-width: 500px) {
  .search__input {
    font-size: 1.2rem;
  }  
}

.search__input:focus {
  outline:none;
  background-color: rgba(255,255,255,0.05);
  transition: background .2s;
  
}

.search__input:focus + .search__placeholder, .search__input[value] + .search__placeholder {
  font-size: .8rem;
  transform: translate(0,-1.4rem);
  transition: transform .2s ease, font-size .2s ease;
  
  @media screen and (max-width: 500px) {
    transform: translate(0,-1rem);
  }
}

.result {
  padding: 2rem 0;
}

.result__line {
  display: flex;
  justify-content: space-between;
  padding : .5rem 0;
  position: relative;
}

.result__line div:first-child {
  width: 300px;
  padding-right: 1rem;
}

.result__line div:last-child {
  text-align: right;
}

@media screen and (max-width: 500px) {
  
  .result__line div:first-child {
    width: 50%;
    flex-basis: 50%;
  }
  
}

.cost {
  color: #ffba00;
  font-size: 1.3rem;
}

@media screen and (max-width: 500px) {
  .cost {
    font-size: 1rem;
  }  
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}