body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #0f1b27;

  @media screen and (max-width: 500px) {
    font-size: 13px;
  }


}

.content {
  color: rgba(255, 255, 255, 0.5);
  padding: 1.2rem 2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 300;
  
  @media screen and (max-width: 500px) {
    letter-spacing: .5px;  
  }
  
}

.content h1 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0.2rem 0;
}

.content h2 {
  font-weight: 300;
}

.content p {
  margin: .5rem 0;
  max-width: 600px;
}

#app {
  background-color: #0f1b27;
  min-height: 100vh;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.search {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  width: calc(100% + 1.6rem);
  margin: 0 -.8rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.search__input {
  padding: 3rem .8rem 1.8rem;
  width: 100%;
  font-size: 2rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: #172738;
  color: #fff;
  border: none;
  box-sizing: border-box;
  transition: all .2s;
  height: 60px;

  @media screen and (max-width: 500px) {
    padding: 2rem .8rem .8rem;
    font-size: 1.2rem;
  }

}

.search__placeholder {
  pointer-events: none;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1rem;
  padding: 2rem .8rem 1.8rem;
  transform: translate(0, 0);
  font-size: 1rem;
  transition: transform .2s ease, font-size .2s ease;
  transform-origin: left center;
  white-space: nowrap;

  @media screen and (max-width: 500px) {
    padding: 1.35rem .8rem .8rem;
  }

}


@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.search__input:focus {
  outline: none;
  background-color: rgb(42, 59, 78);
  transition: background .2s;

}

.search__input:focus + .search__placeholder,
.search__input[value] + .search__placeholder {
  font-size: .8rem;
  transform: translate(0, -1.4rem);
  transition: transform .2s ease, font-size .2s ease;

  @media screen and (max-width: 500px) {
    transform: translate(0, -1rem);
  }
}

.result {
  padding: 2rem 0;
}

.result__line {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  position: relative;
  flex-direction: column;
}

.result__line-active {
  padding: .5rem 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: #25384c;
  border-radius: 5px;
}

.result__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.result__body {
  color: rgba(255, 255, 255, 0.35);
  box-sizing: border-box;
  overflow: hidden;
  height: 0;
}

.result__body strong {
  color: rgba(255, 255, 255, 0.45);
}

.result__body_visible {
  height: auto;
  padding: .5rem 0;
}

.result__body p {
  margin: 0 0 .5rem;
  max-width: 600px;
}

.result__title_info {
  cursor: pointer;
}


.result__title {
  width: 600px;
  padding-right: 1rem;

  @media screen and (max-width: 500px) {
    width: 50%;
    flex-basis: 50%;
  }

}

.result__per-month,
.result__per-year {
  text-align: right;
  word-break: keep-all;
  white-space: nowrap;
  min-width: 250px;
  flex-basis: 250px;

  @media screen and (max-width: 500px) {
    min-width: 0;
    flex-basis: auto;
  }
}

.mobile .result__head .result__per {
  display: none;
}

.mobile .result__head .result__per.result__per_selected {
  display: block;
}


.cost {
  color: #ffba00;

}

.cost_dollar {
  color: #ffffff;
}

.cost__first {

  font-size: 1.3rem;

  @media screen and (max-width: 500px) {
    font-size: 1rem;
  }
}

.cost__last {}


hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.app__inner {
  position: relative;
}

.app__form {
  position: -webkit-sticky;
  position: sticky;
  top: 1.2rem;
  z-index: 10000;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link_export {
  position: relative;
  margin-left: 40px;
}

.link_export:before {
  content: '';
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  background-image: url(../../assets/img/export.svg);
  background-size: cover;
  top: -10px;
  left: -40px;
}

.section {
  padding: 2rem 0;
}

.emoji {
  color: #fff;
}

.tab {}

.tab__panel {
  padding-bottom: 2rem;
}

.tab__header {
  cursor: pointer;
  position: relative;
}

.tab__header:before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  transform-origin: center;
  top: 0;
  left: 0;
  border-right: 1.5px #fff solid;
  border-top: 1.5px solid #fff;
  transform: translate(-20px, 14px) rotate(45deg);
  transition: all .2s ease;
  
  @media screen and (max-width: 500px) {
    transform: translate(-20px, 10px) rotate(45deg);
  }
}

.tab__header_open:before {
  transform: translate(-19px,13px) rotate(135deg);
  transition: all .2s ease;
  
  @media screen and (max-width: 500px) {
    transform: translate(-19px, 9px) rotate(135deg);
  }
}

.tab__panel_hidden {
  display: none;
}

.tab__description {
  margin: -.6rem 0 1.5rem 0;
}

.colomns {
  display: flex;
  
  @media screen and (max-width: 500px) {
    display: inline-block;
  }
}

.colomns div:first-child {
  @media screen and (max-width: 500px) {
    float:left;  
  }
}

.logo {
  width: 100px;
  transform: translate(0, 10px);
  display: block;
  margin: 0 1.5rem 0 0;
  
  @media screen and (max-width: 500px) {
    width: 45px;
    margin: 0 .5rem 1rem;
    transform: translate(-10px, 10px);
  }
  
}

.logo img {
  width: 100%;
}